version: "3.3"

services:

  bot:
    container_name: bot
    build:
      context: ./kit_bot
      dockerfile: ./Dockerfile
      target: development
    restart: always
    depends_on:
      feedback:
        condition: service_healthy
    ports:
      - "8080"
    network_mode: host

  feedback:
    container_name: feedback
    build:
      context: ./kit_feedback_collection_for_bot
      dockerfile: ./Dockerfile
    restart: always
    ports:
      - "3100"
    network_mode: host
